<?xml version="1.0"?>
<robot name="robotiq_arg2f_85_model" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="/Users/thanhndv212/Develop/agimus-ws/long-tamp/script/ikea_table_prototype/assets/robotiq_2f85/urdf/robotiq_arg2f_85_model_macro.xacro" />
  <xacro:robotiq_arg2f_85 prefix=""/>
</robot>
